<!DOCTYPE html>
<html lang="en">
<head>
  <title>Foscam Home Security</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <style type="text/css">
	.alert-feedback{
	  margin-top: 15px;
	}
  </style>
</head>
<body>
<div class="container">
  <h1>Welcome to Foscam Home Security</h1>
  <a href='/logout'>Log out</a>
</div>
<hr/>
<div class="container">
  <h3>Upload Photo to Facial Database</h3>
  <form id="myForm" class="form" action="/upload_photo" method="POST" enctype="multipart/form-data" role="form">
	<div class="form-group">
	  <label class="control-label col-sm-3" for="file">Upload Photo:</label>
	  <div class="col-sm-6">
	      <input type="file" class="file" name="photo">
	  </div>
	</div>
    <div class="form-group">        
      <div class="col-sm-3">
        <button type="submit" class="btn btn-info">Upload</button>
      </div>
    </div>
  </form>
</div>
  <% if (feedback.length > 0) { %>
    <div class="container">
      <div class="alert alert-success alert-feedback"><%= feedback %></div>
    </div>
  <% } %>
  <hr/>
<div class="container">
  <h3>Most Recent Facial Recognition Records</h3>
  <% if (record.length != 0) { %>
      <table class="table table-striped table-hover">
	    <thead>
	      <tr>
	        <th>Date</th>
	        <th>Result</th>
	        <th>Confidence</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% for (var i = 0; i < record.length; i++) { %>
	        <tr>
	          <td><%= record[i].upload_date %></td>
	          <td><%= record[i].result %></td>
	          <td><%= record[i].confidence %></td>
	        </tr>
	      <% } %>
	    </tbody>
	  </table>
  <% } else { %> 
    <p>No recent records found.</p>
  <% } %>        
</div>
<hr/>
<div class="container">
  <h3>Most Recent Recognition Snapshots</h3>
	  <% if (record.length != 0) { %>
	  <div class="row">  
	  <% for (var i = 0; i < record.length; i++) { %>
		        <div class="col-xs-12 col-sm-6 col-md-4">
		           <a href="#" class="thumbnail">
		             <img src="<%= record[i].photo %>" alt="snapshot">
		           </a>
		        </div>
	  <% } %>
	  </div>
	  <% } else { %> 
	    <p>No recent records found.</p>
	  <% } %>        
</div>
</body>
</html>